name: Pytest Action

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-python@v1
    - uses: dschep/install-pipenv-action@v1
  
    - name: Install dependencies
      run: pipenv install --dev

    - name: Run tests
      run: make tests
